@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-background {
    background-color: rgba(248, 244, 245)
  }
}

body {
  @apply font-sans;
    @apply text-gray-600;

    @apply bg-background text-gray-800;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
